.planet-info-cont {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  padding: 10px 16px;
  margin-top: 25px;
}

.planet-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.planet-header {
  height: 40px;
  width: 100%;
  font-weight: 700;
  font-size: 19px;
}

.planet-field-cont {
  display: flex;
  flex-direction: column;
  height: 270px;
}

.planet-field {
  margin: 10px 15px;

  span {
    font-weight: 500;
  }
}
